* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: "Roboto", sans-serif !important;
}

a {
  text-decoration: none !important;
}

header .inner {
  margin: 0 auto !important;
  padding: 0 20px !important;
  width: 1360px !important;
}

.log {
  display: flex !important;
  justify-content: end !important;
  list-style: none !important;
  padding: 10px 10px 0 10px !important;
}

.log li a {
  color: black !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.log li a span {
  margin: 10px !important;
}

.navbar {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.navbar-menu {
  display: flex !important;
  list-style: none !important;
  padding: 10px !important;
  margin-left: 460px !important;
  margin-top: 10px !important;
}

.nav-item {
  list-style: none !important;
  margin: 10px !important;
  font-weight: bold !important;
}

.nav-item a {
  color: black !important;
}

.area-inner {
  padding: 0 200px !important;
  background-color: #f8f8f8 !important;
  height: 80px !important;
  min-width: 1360px !important;
}

.multimenu {
  list-style: none !important;
  display: flex !important;
  margin: 0 auto !important;
  width: 100% !important;
  height: 100% !important;
  box-sizing: content-box !important;
}

.multimenu li {
  color: gray !important;
  width: 100% !important;
  height: 100% !important;
  text-align: center !important;
  display: flex !important;
}
.multimenu li:hover,
.item:hover {
  border-bottom: 3px solid red !important;
  color: red !important;
}

.multimenu .item {
  color: inherit !important;
  font-weight: bold !important;
  font-size: 23px !important;
  text-align: center !important;
  padding: 25px 0 !important;
  width: 100% !important;
}
